:root {
  --primary: #566deb;
  --secondary: #01b0ae;
  --tertiary: #fe8671;
  --light: #ffffff;

  --silver-1: #fdfdfd;
  --silver-2: #eaeaea;
  --silver-3: #cccccc;
  --silver-4: #cdcdcd;
  --silver-5: #a8a8a8;
  --silver-6: #9f9f9f;
  --silver-7: #aba9ad;
  --silver-8: #aba9ad;
  --silver-9: #9e9e9e;
  --silver-10: #686868;
  --silver-11: #616161;

  --dark-1: #262626;
  --dark-3: #3d3d3d;
  --dark-4: #1c1c1c;
  --dark-2: #151414;
  --dark-5: #101010;
  --dark-6: #0c0c0c;
  --dark-7: #141414;
  --dark-8: #1d1d1d;
  --dark-9: #000000;

  --primary-1: #4657b8;
  --primary-2: #4e65e3;
  --primary-3: #384592;
  --primary-4: #263171;

  --radius: 3.5rem;
  --shadow: 0 5px 3px -4px rgba(0, 0, 0, 0.25);
  --padding: 2rem;
  --marin: 2rem;
  --blurry: blur(1rem);

  --animation: 0.2s ease-in-out;
  --serif: "Bree Serif", serif;
  --sans: "Poppins", serif;
  --font-size: 1.4rem;
  --line-height: 1.5;
}
